# Secrets
dshadow/.env
.env
dshadow/env/

# Python
**/__pycache__/
**/*.py[cod]
venv/
dwtin/.venv/
.venv/

# Database
dshadow/*.db
*.db

#dynamic Json
weather_data.json
live_weather.json
unrea_control.json
*.tmp

# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
FileOpenOrder/
*.sln
*.pdb
*HLOD*

Art/

# OS 
.DS_Store
Thumbs.db

# .Net / C#
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Azure Functions
local.settings.json
.vscode/