# Secrets
dtwin/.env
.env
dtwin/env/

# Python
**/__pycache__/
**/*.py[cod]
venv/
dwtin/.venv/
.venv/

# Database
dtwin/*.db
*.db

#dynamic Json
weather_data.json

# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
FileOpenOrder/
*.sln
*.pdb
*HLOD*

Art/

#OS 
.DS_Store
Thumbs.db